{% extends 'admin_home.html'%}

{%block body%}


<div class="body">
       <table class="table table-dark" style="width: 600px;">
        <tr>
            <th>ID</th>
            <th>user_ID</th>
            <th>complaint name</th>
            <th>Date</th>
            <th>Reply</th>
            <th></th>
        </tr>
        {% for i in obj %}
        <tr>
            <th>{{ forloop.counter}}</th>
            <th>{{i.USER.Name}}</th>
            <th>{{i.Complaint}}</th>
            <th>{{i.Date}}</th>
            <th>{{i.Reply}}</th>
            <td><a href="/reply/{{ i.id }}" class="btn btn-primary">reply</a></td>
        </tr>
        {% endfor %}
    </table>
</div> 

    {% endblock %}
