{% extends 'admin_home.html'%}

{%block body%}


<div class="body">
        <table class="table table-dark" style="width: 500px;">
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>feedback</th>
            <th>date</th>
        </tr>
        {% for i in obj %}
        <tr>
            <td>{{ forloop.counter}}</td>

            <td>{{i.USER.Name}}</td>
            <td>{{i.Feedback}}</td>
            <td>{{i.Date}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

    {% endblock %}
