{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/td.css' %}">
</head>
<body>
    <table border="2">
        <tr>
            <th>ID</th>
            <th>Service centers</th>
            <th>Phone no</th>
            <th>Email</th>
            <th>Address</th>
            <th></th>
        </tr>
        {% for i in obj %}
        <tr>
            <td>{{ forloop.counter}}</td>

            <td>{{i.Name}}</td>
            <td>{{i.Phone}}</td>
            <td>{{i.Email}}</td>
            <td>{{i.Address}}</td></td>
            <td><a href="/accept_service_center/{{i.LOGIN.id}}">accept</a><br><br>
            <a href="/reject_service_center/{{i.LOGIN.id}}">reject</a></td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>