{% extends 'admin_home.html'%}

{%block body%}


<div class="body">
    <table class="table table-dark" style="width: 900px">
        <tr>
            <th>ID</th>
            <th>Station</th>
            <th>Address</th>
            <th>Email</th>
            <th>StationNumber</th>
            <th></th>
        </tr>
        {% for i in obj %}
        <tr>
            <td>{{ forloop.counter}}</td>

            <td>{{i.Name}}</td>
            <td>{{i.Address}}</td>
            <td>{{i.Email}}</td>
            <td>{{i.StationNumber}}</td>
            <td><a href="/accept_station/{{i.LOGIN.id}}" id="accept">accept</a><br><br>
            <a href="/reject_station/{{i.LOGIN.id}}" id="reject">reject</a></td>
        </tr>
        {% endfor %}

    </table>
</div>
    {% endblock %}
