{% extends 'admin_home.html'%}

{%block body%}

<div class="body">
    <table class="table table-dark " style="width: 900px;">
        <tr>
            <th>ID</th>
            <th>Service centers</th>
            <th>Phone no</th>
            <th>Email</th>
            <th>Address</th>
            <th></th>
        </tr>
        {% for i in obj %}
        <tr>
            <td>{{ forloop.counter}}</td>

            <td>{{i.Name}}</td>
            <td>{{i.Phone}}</td>
            <td>{{i.Email}}</td>
            <td>{{i.Address}}</td></td>
            <td>
                {% if i.LOGIN.status == "pending" %}
                <a href="/accept_service_center/{{i.LOGIN.id}}" class="btn btn-primary">accept</a><br><br>
                <a href="/reject_service_center/{{i.LOGIN.id}}" class="btn btn-danger">reject</a>
                {% elif i.LOGIN.status == "active" %}
                <a href="/reject_service_center/{{i.LOGIN.id}}" class="btn btn-danger">reject</a>
                {% elif i.LOGIN.status == "reject" %}
                <a href="/accept_service_center/{{i.LOGIN.id}}" class="btn btn-primary">accept</a><br><br>
                {% endif %}
        </td>
        </tr>
        {% endfor %}
    </table>
</div>
    
    
    {% endblock %}
