{% extends 'admin_home.html'%}

{%block body%}


    <div class="body">
       <table class="table table-dark table-striped" style="width: 700px;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <td>Address</td>
            <th>Phone no</th>
            <th>Email</th>
            <th>Vehicle number</th>
            <th>  </th>
        </tr>
        {% for i in obj %}
        <tr>
            <td>{{ forloop.counter}}</td>
            
            <td>{{ i.Name }}</td>
            <td>{{ i.Address }}</td>
            <td>{{i.Phone}}</td>
            <td>{{i.Email}}</td>
            <td>{{i.Vehiclenumber}}</td>
            <td><a href="/delete_user/{{i.LOGIN.id}}" class="btn btn-outline-danger" onclick="return confirm('are you confirm')">Delete</a></td>
        </tr>
        {% endfor %}

    </table>
</div>


{% endblock %}
