 {% extends 'admin_home.html'%}

 {%block body%}



    <div id="main">
        <div class="stats">
          <div class="card">
            <h3 id="userCount">{{u}}</h3>
            <p>Total Users</p>
          </div>
          <div class="card">
            <h3 id="stationCount">{{s}}</h3>
            <p>Total Stations</p>
          </div>
          <div class="card">
            <h3 id="serviceCount">{{k}}</h3>
            <p>Total Services</p>
          </div>
        </div>
        <img src="https://img.freepik.com/premium-photo/ev-car-electric-vehicle-is-charging-charging-station-with-power-cable-supply-linked-blurring-energy-power-effect-generative-ai_28914-4326.jpg?w=1060" alt="Dashboard Image">
        <div class="footer">
          © 2025 Admin Dashboard. All Rights Reserved.
        </div>
      </div>
  
      {% endblock %}
