{% extends 'admin_home.html'%}

{%block body%}


    <!-- Form to send a message -->
    <form action="" method="post">
        {% csrf_token %}
        
        <!-- Username Field -->
         <input type="text" name="Complaint" value="{{obj.Complaint}}">
        <!-- Message Textarea -->
        <label for="text">Reply</label>:</label>
        <textarea name="Reply" id="text" placeholder="" rows="4" cols="50" name="reply" required></textarea><br><br>

        <!-- Submit Button -->
        <button type="submit">Send</button>
    </form>

    {% endblock %}

