{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/td.css'%}">
</head>
<body>
    <Table>
        <tr>
            <th>ID</th>
            <th>slot name</th>
            <th> amount</th>
            <th>details</th>
            <th>status</th>
            <th></th>
        </tr>
        {% for i in obj %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{i.STATION.Name}}</td>
            <td>{{i.Amount}}</td>
            <td>{{i.Details}}</td>
            <td>{{i.Status}}</td>
            <td>
                <a href="/delete_user/{{i.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </Table>
</body>
</html>