{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/td.css'%}">
</head>
<body>
    <Table>
        <tr>
            <th>ID</th>
            <th>slot name</th>
            <th> amount</th>
            <th>details</th>
            <th></th>
        </tr>
        <tr>
            <th>1</th>
            <th>2</th>
            <th>sssd</th>
            <th>45</th>
            <td><button>edit</button><br>
            <button>delete</button></td>
        </tr>
    </Table>
</body>
</html>