{% extends 'admin_home.html'%}

{%block body%}

<div class="body">
    <table class="table table-dark" style="width: 700px;">
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Slot</th>
            <th>SpareName</th>
            <th>Amount</th>
            <th>Quantity</th>
            <th>Status</th>
            

        </tr>
        {% for i in obj %}
        <tr>
        <td>{{ forloop.counter}}</td>
        <td>{{i.USER.Name}}</td>
        <td>{{i.SLOT.Name}}</td>
        <td>{{i.SpareName}}</td>
        <td>{{i.Amount}}</td>
        <td>{{i.Quantity}}</td>
        <td>{{i.Status}}</td>
        

        </tr>
        {% endfor %}


    </table>
    
</div>

{% endblock %}
