{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/td.css'%}">
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>spare name</th>
            <th>amount</th>
            <th>details</th>
        </tr>
        <tr>
            <td>1</td>
            <td>23</td>
            <td>df</td>
            <td>fg</td>
            <td><button>edit</button><br>
            <button>delete</button></td>
        </tr>
    </table>
</body>
</html>