{% extends 'Station/Base.html'%}
{%block body%}
    <div class="container-fluid d-flex justify-content-center"  style="margin-top: 80px;">
    <table class="table table-dark" style="width: 800px;">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Station name</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">email</th>
          </tr>
        </thead>
        <tbody>
          {% for i in obj %}
          <tr>
            <th scope="row">{{ i.StationNumber }}</th>
            <td>{{ i.Name }}</td>
            <td>{{i.latitude}}</td>
            <td>{{i.longitude}}</td>
            <td>{{i.Email}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
    {% endblock %}