{% extends 'Service/Base.html'%}
{%block body%}    
    <div class="contianer-fluid d-flex justify-content-center" >
    <table class="table table-dark" style="width: 600px; margin-top: 90px;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Spare</th>
            <th scope="col">Price</th>
            <th scope="col">status</th>
          </tr>
        </thead>
        <tbody>
          {% for i in c %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{i.USER.Name}}</td>
            <td>{{i.SPARE.Name}}</td>
            <td>{{i.SPARE.Amount}}</td>
            <td>             
              {%if i.Status == 'pending' %} <a href="/rejectorder/{{i.id}}" class="btn btn-danger">Reject</a>
              <a href="/acceptorder/{{i.id}}" class="btn btn-primary">Accept</a>{%else%}
              {{i.Status}}{%endif%}

            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endblock %}